#leftSide{background-color:#eeeeee;border:1px solid #838383;padding:10px;margin:10px;width:200px;height:max-content;position:fixed;left:10px;top:10px;text-align: center;}
#rightSide{line-height:20px ;background-color:#eeeeee;border:1px solid #838383;padding:10px;margin:10px;width:200px;height:max-content;}
#mainTb td{width:20px;height:20px;border:1px solid #000000;overflow:auto};
.seeker{background-color:#dbdbdb;border: 1px solid #ffffff}
.target{background-color:#dbdbdb;border: 1px solid #ffffff}
.outerBorder{background-color:#000000;border: 1px solid #ffffff}
.innerBorder{background-color:#000000;border: 1px solid #ffffff}
.cell{background-color:rgb(219, 219, 219);border: 1px solid #ffffff}

.red{background-color:#ff0000;border: 1px solid #ffffff}
.blue{color:#0275d8;font-weight:500;}
.info{font-size:small;}
.infoText{text-align:justify;margin-right:100px;}


#tableForDist{border-collapse:separate;width:600px;height:400px}
#divForDist{overflow:auto; width:600px;height:400px;border:1px solid #838383;background-color:#dbdbdb}
distTd{padding:4px}
#divForDistList{overflow:auto;width:600px;height:100px;border:1px solid #838383;background-color:#dbdbdb}
#divForStepList{overflow:auto;width:600px;height:100px;border:1px solid #838383;background-color:#dbdbdb}

#divForAverageList{overflow:auto;width:600px;height:100px;border:1px solid #838383;background-color:#dbdbdb}
#divForAverage{overflow:auto; width:600px;height:400px;border:1px solid #838383;background-color:#dbdbdb}
.myButton{background-color:red;color:white;padding:10px 30px 10px 30px;box-shadow:10px 10px 10px black;margin-left:100px;text-decoration:none;font-weight:600;}
